---
import LanguageSwitcher from './LanguageSwitcher.astro';
const { t, lang } = Astro.props;
---
<header class="flex justify-between items-center py-4 border-b">
  <nav class="space-x-4">
    <a href={`/${lang}/`} style="font-size: 24px">{t.navHome}</a>
    <a href={`/${lang}/about`} style="font-size: 24px">{t.navAbout}</a>
    <a href={`/${lang}/blog/first-post`} style="font-size: 24px">{t.navBlog}</a>
  </nav>
  <LanguageSwitcher lang={lang} />
</header>
