---
import LanguageSwitcher from './LanguageSwitcher.astro';
const { t, lang } = Astro.props;
---
<!-- <header class="flex justify-between items-center py-4 border-b">
  <nav class="space-x-4">
    <a href={`/${lang}/`}>{t.navHome}</a>
    <a href={`/${lang}/about`}>{t.navAbout}</a>
    <a href={`/${lang}/blog/first-post`}>{t.navBlog}</a>
  </nav>
  <LanguageSwitcher lang={lang} />
</header> -->


<header class="flex justify-between items-center py-4 border-b">
    
    {/* Bosh Navigatsiya: Semantik jihatdan to'g'ri va Touch Target kengaytirildi */}
    <nav class="space-x-1" aria-label={t.mainNavigation}>
      
      {/* py-2 px-3 sinflari Touch Targetni 48x48 pikselgacha kattalashtirishga yordam beradi */}
      <a 
        href={`/${lang}/`} 
        class="py-2 px-3 inline-block rounded hover:bg-gray-100"
      >
        {t.navHome}
      </a>
      
      <a 
        href={`/${lang}/about`} 
        class="py-2 px-3 inline-block rounded hover:bg-gray-100"
      >
        {t.navAbout}
      </a>
      
      <a 
        href={`/${lang}/blog/first-post`} 
        class="py-2 px-3 inline-block rounded hover:bg-gray-100"
      >
        {t.navBlog}
      </a>
    </nav>
    
    {/* Til Almashtirgich uchun alohida Navigatsiya konteyneri */}
    <nav aria-label={t.languageSwitching}>
      {/* LanguageSwitcher komponenti ichidagi havolalar ham Touch Target qoidasiga amal qilishi kerak */}
      <LanguageSwitcher lang={lang} client:load /> 
    </nav>
    
</header>