---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import uz from '../../i18n/uz.json';
---
<BaseLayout title={uz.siteTitle} lang="uz">
  <Header t={uz} lang="uz" slot="header" />
  <h1 class="text-3xl font-bold mt-6">{uz.welcome}</h1>
  <p class="mt-2">Astro yordamida yaratilgan tezkor va SEO-ga do‘st blog.</p>
  <a href="/uz/blog/birinchi-post" class="text-blue-600 underline mt-4 inline-block p-5">{uz.readMore}</a>
  <a href="/uz/blog/ikkinchi-post" class="text-blue-600 underline mt-4 inline-block p-5">{uz.readMore}</a>
</BaseLayout>
